@import "variables.scss";
@import "animations.scss";
@import "media.scss";
@import "fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.showcase {
  position: relative;
  height: 100%;
  background-color: #000;
  color: white;
  overflow: hidden;

  &__header {
    position: absolute;
    top: 40px;
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    z-index: 1;
    font-family: assasin-st, sans-serif;
    color: rgba(255, 255, 255, .75);

    span {
      color: $color-accent;
    }
  }

  &__content-wrapper {
    position: relative;
    height: 100%;
    padding: 120px 0;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-image: url(../assets/images/glow.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      animation: k-glow 3s ease-in-out infinite;
    }
  }

  &__video {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .45;
  }

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: inset 0 0 500px #000;
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url('../assets/images/light.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -65px;
    animation: k-light 1.8s ease-in-out infinite;
  }
}

.showcase-carousel {
  & .swiper-wrapper {
    transition: $transition;
  }

  &__item {
    position: relative;
    height: calc(100vh - 240px);
    text-align: center;
    opacity: .25;
    transform: scale(.75);
    transition: opacity 1.8s $transition, transform 1.8s $transition;

    &.swiper-slide-active {
      opacity: .8;
      transform: scale(.98);
      transition: 1.8s;
    }

    p {
      position: absolute;
      bottom: -85px;
      width: 100%;
      font-family: assasin-st, sans-serif;
      font-size: 35px;
      color: rgba(255, 255, 255, .5);
      text-shadow: rgb(58 78 94) 0 0 10px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 120px;
      height: 0;
      box-shadow: 0 0 45px 10px #010101;
      bottom: 5px;
      left: calc(50% - 60px);
    }
  }

  &__image-wrapper {
    &>* {
      position: absolute;
      height: 100%;
      width: 100%;
      perspective: 150px;
      transform-style: preserve-3d;
    }
  }

  &__image-left {
    perspective-origin: left center;
    clip-path: polygon(0 0, 53% 0, 53% 100%, 0 100%);

    .showcase-carousel__image {
      animation: k-left-side ease-in-out 2s infinite;
      animation-direction: alternate;
    }
  }

  &__image-right {
    perspective-origin: right center;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);

    .showcase-carousel__image {
     animation: k-right-side ease-in-out 2s infinite;
      animation-direction: alternate;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.showcase-navigation {
  position: absolute;
  overflow: hidden;
  z-index: 2;
  inset: 0;

  & > * {
    position: absolute;
    height: 100%;
    width: 50%;
    outline: none;
    cursor: pointer;

    &.swiper-button-disabled {
      display: none;
    }

    &::before {
      content: '?';
      position: absolute;
      left: 50px;
      top: 50%;
      transform: rotate(-90deg);
      font-family: assasin-st, sans-serif;
      font-size: 45px;
      opacity: 0;
      transition: .2s ease-out;
    }

    &:hover::before {
      opacity: .25;
    }
  }

  &__next {
    right: 0;

    &:before {
      transform: rotate(90deg);
      right: 50px;
      left: auto;
    }
  }
}