$color-accent: #CC8869;
$color-text: #333;

$regular-text-size: 16px;
$regular-line-height: 1.65;

$user-font: roboto-st, sans-serif;

$transition: cubic-bezier(.4, 0, 0, 1);

$ui-desktop-extra-large: '(width >= 1400px)';